{
  "root": true,
  "env": {
    "es2020": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "simple-import-sort", "import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "array-element-newline": 0,
    "complexity": ["error", 10],
    "eqeqeq": "error",
    "max-depth": ["error", 3],
    "max-len": [1, 120], // .prettierrc helps, 1 = warning
    "max-lines-per-function": [1, { "max": 30 }], // 1 = warning
    "max-params": ["error", 6],
    "no-prototype-builtins": "off",
    "no-use-before-define": 0,
    "no-var": "error",
    "object-property-newline": "error",
    "object-shorthand": "error",
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before", "&&": "before", "||": "before" } }
    ],
    "prefer-const": "error",
    "prefer-destructuring": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-template": "error",
    "yoda": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_", //| to add more
        "ignoreRestSiblings": true
      }
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  }
}
